.footer {
	color: black;
	background-color: rgb(207, 37, 37);
	width: 100%;
	float:left;
}

.dropdown-menu {
	background-color: rgba(34, 255, 0, 0.622);

}

body {

    background-color: #2F3035;
    background-image: url(img/89205691.jpg);
    background-size: 100%;

}